.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}
p {
  margin: 0px;
}
h2 {
  margin: 0px;
  text-align: center;
}
